.container-fluid {
    margin-top: 20px;
}

#paste {
    font-family: Ubuntu Mono, monospace;
}

#pastewell {
    margin-bottom: 15px;
}

pre code {
    font-family: Ubuntu Mono, monospace;
    font-size: 1.1em;
}

.hljs {
    padding: 0.05em;
    background: #f5f5f5;
}

.container-fluid {
    margin-bottom: 15px;
}

.cbin-title {
    font-family: Bitter, sans-serif;
}
